---
import Home from "../layouts/Home.astro";
import Links from "../components/Links.astro";
import Screen from "../components/Screen.astro";
---

<Home>
  <div class="bg-slate-800">
    <Screen />
    <Links />
  </div>
</Home>
